<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-12">
      <h1>Usuarios</h1>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-primary" routerLink="/users/add">Agregar</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-3 col-xl-2">
      <div class="card p-3">
        <div class="container-fluid">
          <div class="row">
            <h3>Usuario 1</h3>
          </div>
          <div class="row justify-content-end">
            <div class="col-auto">
              <button class="btn btn-link" routerLink="/users/1"><i class="fa-duotone fa-pen" style="--fa-primary-color: #40c48b; --fa-secondary-color: #d38fe0; --fa-secondary-opacity: 1;"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
