<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-4">
      <div class="input-group">
        <input type="text" [(ngModel)]="query" (ngModelChange)="searchOnChange()" name="query" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
        <span class="input-group-text" (click)="searchOnClick()" id="basic-addon2">Buscar</span>
      </div>
    </div>
    <div class="col-auto">
      <button type="button" [routerLink]="routerLinkAdd" class="btn btn-success">Nuevo</button>
    </div>
  </div>
</div>
